.panel{
	margin: 5% auto;
}

.logo{
	background: url("../../img/common/logo.webp") no-repeat;
	width: 50%;
	height: 170px;
	background-size: 100%;
	margin: 0 auto;
}

.user_name,
.user_password,
.user_re_password,
.user_email,
.user_phone,
.user_code{
	position: relative;
	margin-top: 3%;
}

.user_name,
.user_password,
.user_code:active{
	outline: none;
}

#userName,
#userPassword,
#userRePassword,
#userEmail,
#userPhone,
#userCode{
	height: 55px;
	line-height: 55px;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	width: 100%;
	border-top: 0;
	border-bottom: 2px solid #c9c9c9;
	outline: none;
	padding-left: 10%;
}

#userCode{
	width: 60%;
}

.user_name label{
	position: absolute;
	left: 3%;
	line-height: 60px;
}

.user_password label {
	position: absolute;
	left: 3%;
	line-height: 60px;
}

.user_email label{
	position: absolute;
	left: 3%;
	line-height: 60px;
}

.user_re_password label{
	position: absolute;
	left: 3%;
	line-height: 60px;
}

.user_phone label{
	position: absolute;
	left: 3%;
	line-height: 60px;
}

.user_name i{
	font-size: 20px;
	color: #c9c9c9;
}

.user_password i{
	font-size: 20px;
	color: #c9c9c9;
}

.user_re_password i{
	font-size: 20px;
	color: #c9c9c9;
}

.user_email i{
	font-size: 20px;
	color: #c9c9c9;
}

.user_phone i{
	font-size: 20px;
	color: #c9c9c9;
}

.user_code i{
	font-size: 20px;
	color: #c9c9c9;
}

.user_code>img{
	/* width: 49%; */
	height: 60px;
	/* border: 1px solid; */
}

#loginBtn{
	width: 100%;
	border: none;
	height: 50px;
	border-radius: 25px;
	margin-top: 8%;
}

.text_rip{
	margin: 8% 0;
}

.text_rip>.lf{
	float: left;
}

.text_rip>.lr{
	float: right;
}
