.panel{
	width: 42%;
	margin: 7% auto;
	padding: 0 3%;
}

.panel>.panel-title{
	margin-top: 10%;
	text-align: center;
}

.panel>.panel-title>h1{
	font-weight: initial;
	font-size: 30px;
}

.panel>.panel-body{
	
}
